<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- Namespace를 통해 JAVA 클래스와 Annotation클래스와 동기 -->
<mapper namespace="com.aezen.www.board">

	<resultMap type="com.aezen.www.vo.BoardVO" id="board">
		<id property="boardNo" column="board_no" />
		<result property="id" column="nick"/>
		<result property="boardTitle" column="board_title"/>
		<result property="boardContent" column="board_content" />
	    <result property="boardCategory" column="board_category" />
	    <result property="hit" column="hit" />
	    <result property="boardLike" column="board_like" />
	    <result property="boardDislike" column="board_dislike" />
	    <result property="boardCreatedAt" column="board_created_at" />
	    <result property="boardUpdatedAt" column="board_updated_at" />
	    <result property="board_deleted" column="board_deleted" /> 
	    <collection property="comments" ofType="com.aezen.www.vo.CommentAnswerVO">
	        <id property="commentAnswerNo" column="comment_answer_no" />
		    <result property="boardNo" column="board_no" />
		    <result property="id" column="commenter_nick" />
		    <result property="commentAnswerContent" column="comment_answer_content" />
		    <result property="commentLikeCount" column="comment_like_count" />
		    <result property="commentDislikeCount" column="comment_dislike_count" />
		    <result property="commentAnswerAt" column="comment_answer_at" />
		    <result property="commentAnswerUpdatedAt" column="comment_answer_updated_at" />
		    <result property="commentAnswerType" column="comment_answer_type" />
		    <result property="answerAccepted" column="answer_accepted" />
	    </collection>
	    <collection property="files" ofType="com.aezen.www.vo.FileVO">
	    	<id property="fileNo" column="file_no" />
		    <result property="logicalFileName" column="logical_file_name" />
		    <result property="physicalFileName" column="physical_file_name" />
		    <result property="fileSize" column="file_size" />
		    <result property="fileExt" column="file_ext" />
		    <result property="boardNo" column="board_no" />
	    </collection>
	    <collection property="tags" ofType="com.aezen.www.vo.TagVO">
	    	<result property="tagName" column="tag_name"/>
	    </collection>
	</resultMap>

	<!-- 공지사항 최신글 제목만 보여주기 -->
	<select id="selectLatestNoticeTitle" resultType="string">
	    SELECT board_title
	    FROM board
	    WHERE board_category = 4
	    ORDER BY board_no DESC
	    LIMIT 1
	</select>
	
	<!-- 게시글 상세내역 볼러오기 -->
	<select id="selectBoardList" resultMap="board">
		select
			board.*,
			comment_answer.*,
			user.nick as nick,
			comment_user.nick as commenter_nick,
			file.*,
			tag.tag_name
		from board
		left join user on board.id = user.id
		left join file on board.board_no = file.board_no
		left join tag_board on tag_board.board_no = board.board_no
		left join tag on tag.tag_no = tag_board.tag_no
		left join comment_answer on board.board_no = comment_answer.board_no
		left join user comment_user on comment_answer.id = comment_user.id
		WHERE board.board_deleted = 0
	</select>

</mapper>
